$hover-color: tint($c-blue, 20%)

.sentence-container
  text-align: center
  font-size: 24px
  line-height: 1.6

.sentence-word
  display: inline-block
  padding: 0 .2em
  margin: .15em 0
  border: 1px solid $hover-color
  cursor: pointer
  transition: background-color .5s linear

  &:hover
    background-color: $hover-color
    transition: background-color 0

.sentence-container-solved
  @extend .sentence-container
  margin-bottom: 20px
  border-bottom: 2px solid white

.sentence-word-disabled
  color: $c-blue
  cursor: default

  &:hover
    background-color: transparent
